extends layout

block content

    .row
        .col-sm-1
            img(width="80" src="https://ae01.alicdn.com/kf/HTB1VX8mQpXXXXaGXXXXq6xXFXXXc/Waterproof-Temporary-Fake-Tattoo-Stickers-Sexy-Red-Orange-Fox-Leaf-Cartoon-Design-Body-Art-Make-Up.jpg_640x640.jpg" alt="Cartoon Fox")
        .col-sm-11
            .h1 Health Services
    hr

    .row
        .col-sm-3
            h2 Priorities & Filters
            p Use the sliders in the left column to match your current situation, or how your situation could change.
            .slidecontainer
                .h4.mts Feature 1
                    span#spiderSpan1
                input.slider.mbs#slider1(type="range" min="1" max="100" value="50")

                .h4 UCAS Points
                    span#spiderSpan2
                input.slider.mbs#slider2(type="range" min="72" max="144" value="50")

                .h4 Feature 3
                    span#spiderSpan3
                input.slider.mbs#slider3(type="range" min="1" max="100" value="50")

                .h4 Feature 4
                    span#spiderSpan4
                input.slider.mbs#slider4(type="range" min="1" max="100" value="50")

                .h4 Feature 5
                    span#spiderSpan5
                input.slider.mbs#slider5(type="range" min="1" max="100" value="50")

                .h4 Feature 6
                select.optionpicker.mbs
                    option(value="aa") aa
                    option(value="bb") bb
                    option(value="cc") cc

        .col-sm-9
            .graphvisuals(style="background-image:url('/rings.png'); background-position:center; background-position-x: 115px; background-repeat:no-repeat")