extends layout

block content
  .row.mts
    .col-sm-1
      img(width="80" src="https://ae01.alicdn.com/kf/HTB1VX8mQpXXXXaGXXXXq6xXFXXXc/Waterproof-Temporary-Fake-Tattoo-Stickers-Sexy-Red-Orange-Fox-Leaf-Cartoon-Design-Body-Art-Make-Up.jpg_640x640.jpg" alt="Cartoon Fox")
    .col-sm-11
      h1 Find My Future
      p.lead A site for young people.
  hr

  .h2 Career Areas

  .row
    .col-sm-6
      h3 Science & Engineering
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h3 Health Services
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='/healthservice', role='button') View details »
    .col-sm-6
      h3 Hairdressing
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h3 Plumbing
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
