extends layout

block content
  h1(style="margin-bottom:20px; margin-top:40px;") I am a...
  .row(style="margin:auto; width:50%;")
    .col-12
      a.btn.btn-default.btn-lg.btn-block.mbl(href='/home', role='button') Student »
    .col-12
      a.btn.btn-default.btn-lg.btn-block.mbl(href='/teacher', role='button') Teacher »
    .col-12
      a.btn.btn-default.btn-lg.btn-block.mbl(href='/advisor', role='button') Career Advisor »
    .col-12
      a.btn.btn-default.btn-lg.btn-block.mbl(href='/policymaker', role='button') Policy Maker »